---
import type { AnnouncementProps } from "./Announcement.astro";
const { title, description, type }: AnnouncementProps = Astro.props;
---
<div class={type}>
    <p class={`${type}-title`} set:html={title}></p>
    <p class={`${type}-description`} set:html={description}></p>
</div>